<div id="quem-somos" class="container-fluid">
    <h1 id="quem-somos-title" class="text-center pt-4 text-uppercase">Quem Somos</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 mb-5">
            <img class="img-fluid" src="../../assets/img/quem-somos.png" alt="Quem Somos Hands">
        </div>
        <div class="col-md-6 mt-5 mb-3">
            <h2 id="sub-titulo"class="text-center mt-3 mb-3">GRL PWR</h2>
            <p  id="mensagem" class="text-justify">
                GIRL POWER, foi fundada em janeiro de 2021 por Sarah Kir, objetivando a geração de conteúdo e compartilhamento de informações sobre mulheres fortes, que lutam diaramente em busca de seus direitos negados perante a sociedade, principalmente em relação a violência contra a mulher, a
                diferença salarial entre gêneros, baixa inserção feminina no meio político, casos de assédio,
                preconceito contra a mulher, entre outros.
            </p>
            <div class="row justify-content-center">
                <div class="card m-3">
                    <div id= "card"class="card-body">
                      <blockquote class="blockquote mb-0">
                        <p class="text-justify">Feminismo é sobre liberdade para que nós, mulheres, possamos escolher o que fazer, o que usar, o que ser, enfim, termos os mesmos direitos dos homens. A gente pede igualdade entre gêneros.</p>
                        <footer class="blockquote-footer">Gal Gadot</footer>
                      </blockquote>
                    </div>
                  </div>
            </div>
        </div>
        <button id="btnVoltar" class="mb-5" routerLink="/home">
            <a href="">Voltar</a></button>
    </div>

</div>
