<div id="home" class="container-fluid">
    <h1 id="home-title" class="text-center pt-4 text-uppercase">Mulheres Fortes</h1>
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6 ">
            <img id="girl-home" class="img-fluid mt-5 mb-5" src="../../assets/img/girl-home.jpg" alt="We Can Do It">
        </div>
        <div class="col-md-6 mt-5">
            <h2 id="feminismo" class="text-center mb-3">Feminismo</h2>
            <p id="texto-feminismo" class="text-justify">
                O movimento feminista traz em sua trajetória grandes conquistas que muitas vezes passam despercebidas
                aos nosso olhos. Porém, a caminhada ainda é grande quando se pensa em respeito aos direitos da mulher e
                igualdade entre os gêneros.

                Algumas bandeiras em particular do movimento merecem grande atenção, como a violência contra a mulher, a
                diferença salarial entre gêneros, pouca inserção feminina no meio político, casos de assédio e
                preconceito contra a mulher, necessidade de exames preventivos e maior informação, acesso a métodos
                contraceptivos gratuitos e amamentação em lugares públicos.
            </p>

        </div>

    </div>

</div>